body {
  text-align: left;
}
header {
  height: 70px;
  background: #be0f2a;
  width: 100%;
  z-index: 10;
  position: fixed;
  padding: 20px;
  display: inline;
}
#banner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  background-color: #67c0b5;
  background-image: url(http://i.imgur.com/SrL7eMY.jpg)
  background-size: cover;
  padding: 20px;
}
#content {
  width: 100%;
  position: relative;
  top: 350px;
  background: #3e273a;
  padding: 10px;
  color: #d6eaea;
}
#container {
  width: 100%;
  margin: 0px auto;
  background: #3e273a;
  padding: 0px;
}
